*{
    box-sizing: border-box;
}
.outterShell{
    background-image: url("http://blogs.discovermagazine.com/d-brief/files/2017/08/shutterstock_244338682.jpg");
    z-index: -1;
    padding: 20px;
}
.gameName{
    border: black solid 2px;
    background-color: lightslategrey;
    margin-bottom: 20px;
    margin-left: 175px;
    margin-right: 175px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body{
    background-color: grey;
    border: black solid 2px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container2{
    background-color: rgba(248, 248, 248, 0.486);
    border: 2px black solid;
    margin: 15px 150px 15px 150px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.buttonRow{
    display: flex;
    padding-left: 57px;
}

.button1,
.button2,
.button3,
.button4{
    border: black 2px solid; 
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#gamePlay{
    border: 2px black solid;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.randomNum{
    height: 200px;
    width: 325px;
    background-color: pink;
    border: 2px black solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    float: left;
    margin-left: 50px;
    margin-bottom: 20px;
}

.currentScore{
    height: 200px;
    width: 325px;
    background-color: red;
    border: 2px black solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    float: right;
    margin-right: 50px;
}

.scoreBox{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px black solid;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 18px;
    line-height: 2.4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(128, 124, 124, 0.979);
}




/* .gameRow{
    margin-left: 90px;
    margin-right: 90px;
    border: 2px black solid;
    clear: both;
} */


