*{
    box-sizing: border-box;
}
.outterShell{
    background-image: url("http://blogs.discovermagazine.com/d-brief/files/2017/08/shutterstock_244338682.jpg");
    z-index: -1;
    padding: 20px;
}

p{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.gameName,
.body,
#container2,
#gamePlay,
.col-md-6,
.scoreBox{
    border: black double 5px;
    background-color: rgba(248, 248, 248, 0.7);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.gameName{    
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    text-decoration: underline;
    
}

.body{
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

#container2{
    margin: 15px 100px 15px 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
}

.buttonRow{
    display: flex;
    margin-left: 60px;
}

.button1,
.button2,
.button3,
.button4{
    border: black 5px double; 
}

#gamePlay{
    margin-top: 20px;
    margin-bottom: 20px;

}

.col-md-6{
    height: 200px;
    width: 200px;
    background-color: rgba(49, 48, 48, 0.952);
    margin-top: 20px;
    color: white;
    text-align: center;
    padding-top: 35px;
    
}

.randomNum{
    float: right;
    margin-right: 50px;
    margin-bottom: 20px;  
}

.currentScore{
    margin-top: 20px;
    float: right;
    margin-left: 50px;
}

.scoreBox{
    display: block;  
    margin-top: 20px;
    margin-bottom: 600px;
    border: 4px black solid;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 18px;
    line-height: 2.4;
    background-color: rgba(128, 124, 124, 0.979);
    
}


